<!--sidebar-wrapper-->
<div class="sidebar-wrapper" data-simplebar="true">
	<div class="sidebar-header">
		<div class="">
			<img src="~/management/images/logo-icon.png" class="logo-icon-2" alt="" />
		</div>
		<div>
			<h4 class="logo-text">Syndash</h4>
		</div>
		<a href="javascript:;" class="toggle-btn ms-auto">
			<i class="bx bx-menu"></i>
		</a>
	</div>
	<!--navigation-->
	<ul class="metismenu" id="menu">

		@* <li class="menu-label">Web Apps</li> *@
		<li>
			<a asp-area="Management" asp-controller="Banner" asp-action="Index">
				<div class="parent-icon icon-color-2">
					<i class="bx bx-home"></i>
				</div>
				<div class="menu-title">Banner</div>
			</a>
		</li>

		<li>
			<a asp-area="Management" asp-controller="Home" asp-action="Page2">
				<div class="parent-icon icon-color-2">
					<i class="bx bx-file-blank"></i>
				</div>
				<div class="menu-title">Sayfa 2</div>
			</a>
		</li>

		<li>
			<a asp-area="Management" asp-controller="AboutPage" asp-action="Index">
				<div class="parent-icon icon-color-2">
					<i class="bx bx-file-blank"></i>
				</div>
				<div class="menu-title">Hakkımızda Sayfası</div>
			</a>
		</li>

		<li>
			<a asp-area="Management" asp-controller="AboutComponent" asp-action="Index">
				<div class="parent-icon icon-color-2">
					<i class="bx bx-file-blank"></i>
				</div>
				<div class="menu-title">Hakkımızda Öğeleri</div>
			</a>
		</li>

		<li>
			<a asp-area="Management" asp-controller="ContactPage" asp-action="Index">
				<div class="parent-icon icon-color-2">
					<i class="bx bx-file-blank"></i>
				</div>
				<div class="menu-title">İletişim Sayfası</div>
			</a>
		</li>

		<li>
			<a asp-area="Management" asp-controller="Category" asp-action="Index">
				<div class="parent-icon icon-color-2">
					<i class="bx bx-file-blank"></i>
				</div>
				<div class="menu-title">Kategori</div>
			</a>
		</li>

		<li>
			<a asp-area="Management" asp-controller="Slider" asp-action="Index">
				<div class="parent-icon icon-color-2">
					<i class="bx bx-file-blank"></i>
				</div>
				<div class="menu-title">Slider</div>
			</a>
		</li>

		<li>
			<a asp-area="Management" asp-controller="Product" asp-action="Index">
				<div class="parent-icon icon-color-2">
					<i class="bx bx-file-blank"></i>
				</div>
				<div class="menu-title">Ürünler</div>
			</a>
		</li>

		<li>
			<a asp-area="Management" asp-controller="User" asp-action="Index">
				<div class="parent-icon icon-color-2">
					<i class="bx bx-file-blank"></i>
				</div>
				<div class="menu-title">Kullanıcılar</div>
			</a>
		</li>

	</ul>
	<!--end navigation-->
</div>
<!--end sidebar-wrapper-->