<!DOCTYPE html>

<html>
<head>
    <partial name="_Head" />
</head>
<body>
    <partial name="_Header" />

    @RenderBody()
    <partial name ="_Footer" />
    <partial name="_Scripts" />
    @await RenderSectionAsync("Scripts", required: false)  
</body>
</html>
